In [30]:
counter = 100          # An integer assignment
miles   = 1000.0       # A floating point
name    = "John"       # A string

print(counter)
print(miles)
print(name)

100
1000.0
John

#### Multiple Assignment

In [10]:
a = b = c = 1

In [11]:
a,b,c = 1,2,"john"

#### String Expressions

In [32]:
str = 'Hello World!'

print (str)          # Prints complete string
print (str[0])       # Prints first character of the string
print (str[2:5])     # Prints characters starting from 3rd to 5th
print (str[2:])      # Prints string starting from 3rd character
print (str * 2)      # Prints string two times
print (str +' '+ "TEST") # Prints concatenated string

Hello World!
H
llo
llo World!
Hello World!Hello World!
Hello World! TEST

#### List Expressions

In [14]:
list = [ 'abcd', 786 , 2.23, 'john', 70.2 ]
tinylist = [123, 'john']

print (list)          # Prints complete list
print (list[0])       # Prints first element of the list
print (list[1:3])     # Prints elements starting from 2nd till 3rd 
print (list[2:])      # Prints elements starting from 3rd element
print (tinylist * 2)  # Prints list two times
print (list + tinylist) # Prints concatenated lists

['abcd', 786, 2.23, 'john', 70.2]
abcd
[786, 2.23]
[2.23, 'john', 70.2]
[123, 'john', 123, 'john']
['abcd', 786, 2.23, 'john', 70.2, 123, 'john']

#### Tuple Expressions

In [15]:
tuple = ( 'abcd', 786 , 2.23, 'john', 70.2  )
tinytuple = (123, 'john')

print (tuple)           # Prints complete list
print (tuple[0])        # Prints first element of the list
print (tuple[1:3])      # Prints elements starting from 2nd till 3rd 
print (tuple[2:])       # Prints elements starting from 3rd element
print (tinytuple * 2)   # Prints list two times
print (tuple + tinytuple) # Prints concatenated lists

('abcd', 786, 2.23, 'john', 70.2)
abcd
(786, 2.23)
(2.23, 'john', 70.2)
(123, 'john', 123, 'john')
('abcd', 786, 2.23, 'john', 70.2, 123, 'john')

#### Dictonary

In [33]:
dict = {}
dict['one'] = "This is one"
dict[2]     = "This is two"

tinydict = {'name': 'john','code':6734, 'dept': 'sales'}

print(dict)
print (dict['one'])       # Prints value for 'one' key
print (dict[2])           # Prints value for 2 key
print (tinydict)          # Prints complete dictionary
print (tinydict.keys())   # Prints all the keys
print (tinydict.values()) # Prints all the values

{2: 'This is two', 'one': 'This is one'}
This is one
This is two
{'name': 'john', 'dept': 'sales', 'code': 6734}
dict_keys(['name', 'dept', 'code'])
dict_values(['john', 'sales', 6734])

#### Expressions in Python

In [18]:
a = 2
b = 3
c = a + b 
print (c) 
d = a * b 
print (d)

5
6

In [37]:
a = 21
b = 10
c = 0

c = a + b
print ("Line 1 - Value of c is ", c)

c = a - b
print ("Line 2 - Value of c is ", c )

c = a * b
print ("Line 3 - Value of c is ", c) 

c = a / b
print ("Line 4 - Value of c is ", c )

c = a % b
print ("Line 5 - Value of c is ", c)

a = 2
b = 3
c = a**b 
print ("Line 6 - Value of c is ", c)

a = 10
b = 5
c = a//b 
print ("Line 7 - Value of c is ", c)

Line 1 - Value of c is  31
Line 2 - Value of c is  11
Line 3 - Value of c is  210
Line 4 - Value of c is  2.1
Line 5 - Value of c is  1
Line 6 - Value of c is  8
Line 7 - Value of c is  2

#### Conditions

In [39]:
var1 = 2222
if var1:
    print ("1 - Got a true expression value")
    print (var1)
else:
    print ("1 - Got a false expression value")
    print (var1)

var2 = 0
if var2:
    print ("2 - Got a true expression value")
    print (var2)
else:
    print ("2 - Got a false expression value")
    print (var2)

print ("Good bye!")

1 - Got a true expression value
2222
2 - Got a false expression value
0
Good bye!

#### elif Condition

In [41]:
var = 1
if var == 200:
    print ("1 - Got a true expression value")
    print (var)
elif var == 150:
    print ("2 - Got a true expression value")
    print (var)
elif var == 100:
    print ("3 - Got a true expression value")
    print (var)
else:
    print ("4 - Got a false expression value")
    print (var)

print ("Good bye!")

4 - Got a false expression value
1
Good bye!

#### Functions in python

In [26]:
# Function for checking the divisibility 
# Notice the indentation after function declaration 
# and if and else statements 
def checkDivisibility(a, b): 
    if a % b == 0 : 
        print ("a is divisible by b")
    else: 
        print ("a is not divisible by b")
#Driver program to test the above function 
checkDivisibility(4, 2)

a is divisible by b

In [42]:
a=4
b=2
c = a%b
if c == 0:
    print("hi")
else:
    print("hello")

hi

In [54]:
def check(a,b):
    c = a%b
    if c == 0:
        print("hi")
    else:
        print("hello")
    return c

In [55]:
check(6,3)

hi

0