In [137]:
50+50

100

In [138]:
0.1+0.2-0.3

5.551115123125783e-17

In [139]:
"HEllo"

'HEllo'

In [140]:
len("HEllo")

5

In [141]:
l="Hello World"
print(l[0],l[-1],l[2:],l[:3],l[::2])

H d llo World Hel HloWrd

In [142]:
print("Hello World")

Hello World

In [143]:
x="Hello"

In [144]:
x=x+" World"

In [145]:
x

'Hello World'

In [146]:
g="e"

In [147]:
g*10

'eeeeeeeeee'

In [148]:
x.upper()

'HELLO WORLD'

In [149]:
x.lower()

'hello world'

In [150]:
x.split()

['Hello', 'World']

In [151]:
x.split('e')

['H', 'llo World']

In [152]:
print('{}'.format('Python rules!'))

Python rules!

In [153]:
set('Mississippi')

{'M', 'i', 'p', 's'}

In [154]:
d={"Monday":19,"Tuesday":20}
print(d)

{'Monday': 19, 'Tuesday': 20}

In [155]:
print((["a",1,1.8]))

['a', 1, 1.8]

In [156]:
"tinker"[1:4]

'ink'

In [157]:
"Hello World" [8]

'r'

In [158]:
x=open('test.txt','w')
x.write("Hello World")
x.close()

In [159]:
%%writefile myfile.txt
Hello this is a text file
this is the secong line
this is the third line

Overwriting myfile.txt

In [160]:
myfile= open('myfile.txt')
myfile.read()

'Hello this is a text file\nthis is the secong line\nthis is the third line\n'

In [161]:
myfile.read()

''

In [162]:
myfile.seek(0)

0

In [163]:
myfile.read()

'Hello this is a text file\nthis is the secong line\nthis is the third line\n'

In [164]:
myfile.seek(0)

0

In [165]:
con=myfile.read()

In [166]:
con

'Hello this is a text file\nthis is the secong line\nthis is the third line\n'

In [167]:
myfile.readlines()

[]

In [168]:
myfile.close()

In [169]:
myfile.readlines()

ValueError: I/O operation on closed file.

In [170]:
with open('myfile.txt') as my:
    con=my.read()

In [171]:
con

'Hello this is a text file\nthis is the secong line\nthis is the third line\n'

In [172]:
with open('myfile.txt',mode='r') as myfile:
    con=myfile.read()

In [173]:
con

'Hello this is a text file\nthis is the secong line\nthis is the third line\n'

In [174]:
with open('myfile.txt',mode='a') as my:
    my.write('All the Best.!!')

In [175]:
with open('myfile.txt') as my:
    con=my.read()

In [176]:
con

'Hello this is a text file\nthis is the secong line\nthis is the third line\nAll the Best.!!'

In [177]:
with open('myfilee.txt',mode='w') as my:
    my.write('All the Best.!!\n')

In [178]:
with open('myfilee.txt',mode='a') as my:
    my.write('All the Best.!!')

In [179]:
with open('myfilee.txt',mode='r') as my:
    print(my.read())

All the Best.!!
All the Best.!!

In [180]:
class Sample():
    pass

In [181]:
my=Sample()

In [182]:
type(my)

__main__.Sample

In [183]:
class Dog():
    def __init__(self,mybreed):
        self.bree=mybreed

In [184]:
m=Dog("Lab")

In [185]:
print(m)

<__main__.Dog object at 0x7f1048532a90>

In [186]:
type(m)

__main__.Dog

In [187]:
m.bree

'Lab'

In [188]:
class Vs():
    attitude="Good"
    def __init__(self,name,age,area):
        self.name=name;self.age=age;self.area=area
    def work(self,n):
        return ("Programmer in this {} since {} years".format(self.area,(str(n))))
v=Vs("{ Smishmi is ",30,"Hyderabad")
print(v.name,v.age,"years old,","lives in",v.area,"being",v.attitude,v.work(19),"}")

{ Smishmi is  30 years old, lives in Hyderabad being Good Programmer in this Hyderabad since 19 years }

In [189]:
class Human():
    def __init__(self):
        print("Human is created")
    def whos_she(self):
        print("She is lady")
    def eat(self):
        print("Daily having Lunch infront of us")
class Vl(Human):
    def __init__(self):
        #Human.__init__(self)
        print("Smi is created.!!")
    def eat(self):
        print("She eats vegetable pulihora")
    def act(self):
        print("She is Programmer")

In [190]:
m=Human()

Human is created

In [191]:
m.eat()

Daily having Lunch infront of us

In [192]:
m1=Vl()

Smi is created.!!

In [193]:
m1.eat()

She eats vegetable pulihora

In [194]:
m1.act()

She is Programmer

In [195]:
class Circle():
    pi=3.14
    def __init__(self,radius=1):
        self.radius=radius
        self.area=(Circle.pi*(radius**2))
    def get_circum(self):
        return self.radius*self.pi*2
m=Circle(30)
print(m.pi)
print(m.radius)
print(m.get_circum(),m.area)

3.14
30
188.4 2826.0

In [196]:
class Square():
    def __init__(self,a):
        self.a=(a*a)
    def prop(self):
        return str(self.a)+" is its area"
class Rect():
    def __init__(self,a):
        self.a=(a*(a+1))
    def prop(self):
        return str(self.a)+" is its dimension as (l*B)"

In [197]:
s=Square(4)
print(s.prop())
r=Rect(5)
print(r.prop())
for typ in[s,r]:
    print(type(typ))
    print(typ.prop())
    print(type(typ.prop()))

16 is its area
30 is its dimension as (l*B)
<class '__main__.Square'>
16 is its area
<class 'str'>
<class '__main__.Rect'>
30 is its dimension as (l*B)
<class 'str'>

In [198]:
def item(typ):
    print(typ.prop())

In [199]:
item(s)

16 is its area

In [200]:
item(r)

30 is its dimension as (l*B)

In [201]:
class Animal():
    def __init__(self,name):
        self.name=name
    def speak(self):
        raise NotImplementedError("Subclass must implement this abstract method")

In [202]:
a=Animal("Dog")
a.speak()

NotImplementedError: Subclass must implement this abstract method

In [203]:
class Dog(Animal):
    def speak(self):
        return self.name+" says woof.!"
class Cat(Animal):
    def speak(self):
        return self.name+" says meow.!"

In [204]:
d=Dog("Fido")
print(d.speak())
c=Cat("isis")
print(c.speak())

Fido says woof.!
isis says meow.!

## Speacial(Magic || Dunder) Methods

### 1st

In [205]:
class Book():
    def __init__(self,title,author,pages):
        self.title=title;self.author=author
        self.pages=pages
    def __str__(self):
        return "{} by {}".format(self.title,self.author)
    def __len__(self):
        return self.pages
    def __del__(self):
        print("Deleted")
b=Book("Python","Raj",200)
print(b)
print(b.title,b.author,b.pages)

Python by Raj
Python Raj 200

In [206]:
str(b)

'Python by Raj'

In [207]:
len(b)

200

In [208]:
del b

Deleted

In [209]:
b

NameError: name 'b' is not defined

## OOPS Homework - Assignment

### 1st

Fill in the Line class methods to accept coordinates as a pair of tuples and return the slope and distance of the line.

In [210]:
class Line:
    
    def __init__(self,coor1,coor2):
        pass
    
    def distance(self):
        pass
    
    def slope(self):
        pass

In [211]:
import math
class Line:
    
    def __init__(self,coor1,coor2):
        self.coor1=coor1
        self.coor2=coor2
    
    def distance(self):
        (x,y)=( ((int(coordinate2[0]))-(int(coordinate1[0]))) , ((int(coordinate2[1]))-(int(coordinate1[1]))))
        print(math.sqrt((x*x)+(y*y)))
    
    def slope(self):
        (a)=( (((int(coordinate2[1])))-(int(coordinate1[1])))/(((int(coordinate2[0]))-(int(coordinate1[0])))) )
        print(a)

In [212]:
# EXAMPLE OUTPUT

coordinate1 = (3,2)
coordinate2 = (8,10)

li = Line(coordinate1,coordinate2)

In [213]:
li.distance()

9.433981132056603

In [214]:
li.slope()

1.6

### 2nd

Fill in the class

In [215]:
class Cylinder:
    
    def __init__(self,height=1,radius=1):
        pass
        
    def volume(self):
        pass
    
    def surface_area(self):
        pass

In [216]:
class Cylinder:
    pi=3.14
    def __init__(self,height=1,radius=1):
        self.height=height
        self.radius=radius
    def volume(self):
        return (2*Cylinder.pi*(int(self.radius)**2))
    
    def surface_area(self):
        return (2*Cylinder.pi*(int(self.radius))*(self.radius+self.height))
        pass

In [217]:
# EXAMPLE OUTPUT
c = Cylinder(2,3)

In [218]:
c.volume()

56.52

In [219]:
c.surface_area()

94.2

### 3rd

# Object Oriented Programming Challenge

For this challenge, create a bank account class that has two attributes:

* owner
* balance

and two methods:

* deposit
* withdraw

As an added requirement, withdrawals may not exceed the available balance.

Instantiate your class, make several deposits and withdrawals, and test to make sure the account can't be overdrawn.

In [220]:
class Account:
    pass

In [221]:
class Account:
    def __init__(self,owner,balance):
        self.owner=owner
        self.balance=balance
    def __str__(self):
        return "Account owner:   {}\nAccount balance: ${}".format(self.owner,self.balance)
    def deposit(self,number):
        self.balance=self.balance+number
        print("Deposit Accepted")
    def withdraw(self,n1):
        n=self.balance-n1
        if(n>0):
            print("Withdrawal Accepted")
        else:
            print("Funds Unavailable!")
    pass

In [222]:
# 1. Instantiate the class
acct1 = Account('Jose',100)

In [223]:
# 2. Print the object
print(acct1)

Account owner:   Jose
Account balance: $100

In [224]:
# 3. Show the account owner attribute
acct1.owner

'Jose'

In [225]:
# 4. Show the account balance attribute
acct1.balance

100

In [226]:
# 5. Make a series of deposits and withdrawals
acct1.deposit(50)

Deposit Accepted

In [227]:
acct1.withdraw(75)

Withdrawal Accepted

In [228]:
# 6. Make a withdrawal that exceeds the available balance
acct1.withdraw(500)

Funds Unavailable!

## Good job!

In [229]:
x=((1,2,3),(1,4,56),(4,6,5))
print(max(x[0]), min(x[1]))
for (a,b,c) in x:
    print(b)

3 1
2
4
6

In [230]:
d={'a':1,"b":2,"c":3}
for i in d.items():
    print (i)

('a', 1)
('b', 2)
('c', 3)

In [231]:
d={'a':1,"b":2,"c":3}
for (x,y) in d.items():
    print (x,y)

a 1
b 2
c 3

In [232]:
d={'a':1,"b":2,"c":3}
for (x) in d.keys():
    print (x)

a
b
c

In [233]:
d={'a':1,"b":2,"c":3}

print(3 in d.values())
for (x) in d.values():
    print (x)

True
1
2
3

In [234]:
w="Hello"
for i in enumerate(w):
    print(i)

(0, 'H')
(1, 'e')
(2, 'l')
(3, 'l')
(4, 'o')

In [235]:
w="Hello"
for i,l in enumerate(w):
    print(i,l)

0 H
1 e
2 l
3 l
4 o

In [236]:
m1=[1,2,3]
m2=['a','b','c']
m3=['d','f','c']
for i in zip(m1,m2,m3):
    print(i)

(1, 'a', 'd')
(2, 'b', 'f')
(3, 'c', 'c')

In [237]:
list(zip(m1,m2,m3))

[(1, 'a', 'd'), (2, 'b', 'f'), (3, 'c', 'c')]

In [238]:
"a" in {"a":1}

True

In [239]:
"a" in "a table"

True

In [240]:
from random import shuffle,randint
x=[(1,2,3),(1,4,56),(4,6,5)]

In [241]:
shuffle(x)

In [242]:
x

[(4, 6, 5), (1, 2, 3), (1, 4, 56)]

In [243]:
randint(0,100)

39

In [244]:
type(randint)

method

In [245]:
type(x)

list

In [246]:
w="1000"

In [247]:
float(int(w))

1000.0

In [248]:
xx="Hello"
m=[l for l in xx]
print(m,end=' ')

['H', 'e', 'l', 'l', 'o']

In [249]:
m

['H', 'e', 'l', 'l', 'o']

In [250]:
a=[x**2 for x in range(0,10)]

In [251]:
a

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [252]:
c=[0,19,18,23,32.05]
f=[(((9/5)*t)+32) for t in c]

In [253]:
f

[32.0, 66.2, 64.4, 73.4, 89.69]

In [254]:
r=[x if x%2==0 else "Odd" for x in range(1,10)]

In [255]:
r

['Odd', 2, 'Odd', 4, 'Odd', 6, 'Odd', 8, 'Odd']

In [256]:
m=[]
for s in [2,4,5]:
    for ss in [4,7,4]:
        m.append(s*ss)

In [257]:
m

[8, 14, 8, 16, 28, 16, 20, 35, 20]

In [258]:
m=[x*y for x in [2,4,5] for y in ['a','b','c']]

In [259]:
m

['aa', 'bb', 'cc', 'aaaa', 'bbbb', 'cccc', 'aaaaa', 'bbbbb', 'ccccc']

# Statements Assessment Test
Let's test your knowledge!

_____
**Use <code>for</code>, .split(), and <code>if</code> to create a Statement that will print out words that start with 's':**

In [260]:
st = 'Print only the words that start with s in this sentence'

In [262]:
s=input()
l=s.split(",")
ll=list(l)
for i in ll:
    if(i[0]=='s'):
        print(i)

 sai,smi,rah

sai
smi

______
**Use range() to print all the even numbers from 0 to 10.**

In [263]:
for i in range (0,11):
    if(i%2==0):
        print(i,end=" ")

0 2 4 6 8 10

___
**Use a List Comprehension to create a list of all numbers between 1 and 50 that are divisible by 3.**

In [264]:
l=[x for x in range(1,51)]
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50]

_____
**Go through the string below and if the length of a word is even print "even!"**

In [265]:
st = 'Print every word in this sentence that has an even number of letters'

In [266]:
s=st.split(" ")
for i in s:
    if(len(i)%2==0):
        print(i,"--> even!")

word --> even!
in --> even!
this --> even!
sentence --> even!
that --> even!
an --> even!
even --> even!
number --> even!
of --> even!

____
**Write a program that prints the integers from 1 to 100. But for multiples of three print "Fizz" instead of the number, and for the multiples of five print "Buzz". For numbers which are multiples of both three and five print "FizzBuzz".**

In [267]:
for i in range(1,101):
    if(i%3==0 and i%5!=0):
        print("Fizz",end=" ")
    elif(i%5==0 and i%3!=0):
        print("Buzz",end=" ")
    elif(i%5==0 and i%3==0):
        print("FizzBuzz",end=" ")
    else:
        print(i,end=" ")

1 2 Fizz 4 Buzz Fizz 7 8 Fizz Buzz 11 Fizz 13 14 FizzBuzz 16 17 Fizz 19 Buzz Fizz 22 23 Fizz Buzz 26 Fizz 28 29 FizzBuzz 31 32 Fizz 34 Buzz Fizz 37 38 Fizz Buzz 41 Fizz 43 44 FizzBuzz 46 47 Fizz 49 Buzz Fizz 52 53 Fizz Buzz 56 Fizz 58 59 FizzBuzz 61 62 Fizz 64 Buzz Fizz 67 68 Fizz Buzz 71 Fizz 73 74 FizzBuzz 76 77 Fizz 79 Buzz Fizz 82 83 Fizz Buzz 86 Fizz 88 89 FizzBuzz 91 92 Fizz 94 Buzz Fizz 97 98 Fizz Buzz

____
**Use List Comprehension to create a list of the first letters of every word in the string below:**

In [268]:
st = 'Create a list of the first letters of every word in this string'

In [269]:
s=st.split()
l=[]
for i in s:
    l.append(i[0])
print(l,end=" ")

['C', 'a', 'l', 'o', 't', 'f', 'l', 'o', 'e', 'w', 'i', 't', 's']

### Great Job!

In [270]:
def s(n="NAME"):
    print("Hello "+n)
s()

Hello NAME

In [271]:
s('Raj')

Hello Raj

In [272]:
def m(*a):
    return sum(a)
m(1,2,3)

6

In [273]:
def m(**j):
    if "a" in j:
        print(j['a'])
    else:
        print("I don't")

In [274]:
m(a=1,b=2)

1

In [275]:
def myfunc(n):
    nn=n.lower()
    a=""
    for i in range(len(nn)):
        if(i%2==0):
            a+=nn[i]
        else:
            a+=nn[i].upper()
    return (a)
myfunc('Anthropomorphism')

'aNtHrOpOmOrPhIsM'

In [276]:

def myfunc(x):
    out = []
    for i in range(len(x)):
        if i%2==0:
            out.append(x[i].lower())
        else:
            out.append(x[i].upper())
    return ''.join(out)

In [277]:
myfunc('Anthropomorphism')

'aNtHrOpOmOrPhIsM'

# Function Practice Exercises

Problems are arranged in increasing difficulty:
* Warmup - these can be solved using basic comparisons and methods
* Level 1 - these may involve if/then conditional statements and simple methods
* Level 2 - these may require iterating over sequences, usually with some kind of loop
* Challenging - these will take some creativity to solve

## WARMUP SECTION:

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [278]:
def lesser_of_two_evens(a,b):
    if(a%2==0 and b%2==0):
        return min(a,b)
    else:
        return max(a,b)

In [279]:
# Check
lesser_of_two_evens(2,4)

2

In [280]:
# Check
lesser_of_two_evens(2,5)

5

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [281]:
def animal_crackers(text):
    l,ll,lll=[],[],[]
    t=text.split(" ")
    l=list(t)
    ll=l[0]
    lll=l[1]
    if(ll[0]==lll[0]):
        return True
    else:
        return False

In [282]:
# Check
animal_crackers('Levelheaded Llama')

True

In [283]:
# Check
animal_crackers('Crazy Kangaroo')

False

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [284]:
def makes_twenty(n1,n2):
    if(n1==20 or n2==20 or n1+n2==20):
        return True
    else:
        return False

In [285]:
# Check
makes_twenty(20,10)

True

In [286]:
# Check
makes_twenty(2,3)

False

# LEVEL 1 PROBLEMS

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [287]:
def old_macdonald(name):
    a=""
    for i in range(len(name)):
        if(i==0 or i==3):
            a+=name[i].upper()
        else:
            a+=name[i]
    return a

In [288]:
# Check
old_macdonald('macdonald')

'MacDonald'

#### MASTER YODA: Given a sentence, return a sentence with the words reversed

    master_yoda('I am home') --> 'home am I'
    master_yoda('We are ready') --> 'ready are We'
    
Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

    >>> "--".join(['a','b','c'])
    >>> 'a--b--c'

This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

    >>> " ".join(['Hello','world'])
    >>> "Hello world"

In [289]:
def master_yoda(text):
    s=text.split()
    l=list(s)
    return (" ".join(l[::-1]))

In [290]:
# Check
master_yoda('I am home')

'home am I'

In [291]:
# Check
master_yoda('We are ready')

'ready are We'

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [292]:
def almost_there(n):
    if( (n>90 and n<110) or(n>190 and n<210) ):
        return True
    else:
        return False

In [293]:
# Check
almost_there(104)

True

In [294]:
# Check
almost_there(150)

False

In [295]:
# Check
almost_there(209)

True

In [296]:
import math
def almost_there(n):
    if( math.fabs(100-n)<=10 or math.fabs(200-n)<=10):
        return True
    else:
        return False

In [297]:
# Check
almost_there(104)

True

In [298]:
# Check
almost_there(150)

False

In [299]:
# Check
almost_there(209)

True

# LEVEL 2 PROBLEMS

#### FIND 33: 

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [300]:
def has_33(nums):
    for i in range(0,len(nums)-1):
        if(nums[i]==3):
            if(nums[i+1]==3):
                return True
    return False

In [301]:
# Check
has_33([1, 3, 3])

True

In [302]:
# Check
has_33([1, 3, 1, 3])

False

In [303]:
# Check
has_33([3, 1, 3])

False

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [304]:
def paper_doll(text):
    a=""
    for i in range(len(text)):
        a+=text[i]*3
    return (a)

In [305]:
# Check
paper_doll('Hello')

'HHHeeellllllooo'

In [306]:
# Check
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [307]:
def blackjack(a,b,c):
    s=(a+b+c)
    if(s<=21):
        return s
    elif(s>21 and (a==11 or b==11 or c==11)):
        return (s-10)
    else:
        return "BUST"

In [308]:
# Check
blackjack(5,6,7)

18

In [309]:
# Check
blackjack(9,9,9)

'BUST'

In [310]:
# Check
blackjack(9,9,11)

19

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
 
    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [311]:
def summer_69(arr):
    a=0
    for i in arr:
        if(i>=6 and i<=9):
            continue
        a+=i
    return a

In [312]:
# Check
summer_69([1, 3, 5])

9

In [313]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

9

In [314]:
# Check
summer_69([2, 1, 6, 9, 11])

14

# CHALLENGING PROBLEMS

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [315]:
def spy_game(nums):
    c=0
    for x in range(len(nums)):
        if(nums[x]==0):
            for y in range(1,len(nums)):
                if(nums[y]==0):
                    for z in range(2,len(nums)):
                        if(nums[z]==7):
                            c=1
    if(c==1):
        return True
    else:
        return False

In [316]:
# Check
spy_game([1,2,4,0,0,7,5])

True

In [317]:
# Check
spy_game([1,0,2,4,0,5,7])

True

In [318]:
# Check
spy_game([1,7,2,0,4,5,0])

False

In [319]:
def spy_game(nums): 
    vals = [0,0,7,'a'] 
    for num in nums: 
        if num == vals[0]: 
            vals.pop(0) 
    return len(vals) == 1

In [320]:
# Check
spy_game([1,2,4,0,0,7,5])

True

In [321]:
# Check
spy_game([1,0,2,4,0,5,7])

True

In [322]:
# Check
spy_game([1,7,2,0,4,5,0])

False

#### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number
    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [323]:
def count_primes(num):
    k=0
    for i in range(num+1):
         if(cp(i)):
                k+=1
    print(k)

def cp(n):
    c=0
    for i in range(2,n//2+1):
        if(n%i==0):
            c=1
            break
    if(n<2):
        return False
    elif(c==0):
        return True
    else:
        return False

In [324]:
# Check
count_primes(100)

25

In [325]:
def count_primes(num):
    cc,count,c = True, 0,0
    for i in range(num+1):
        cc,c=True,0
        for j in range(2,((i//2)+1)):
            if (i%j==0):
                c=1
                break
        if(i<2):
            count=count
        elif(c==0):
            count=count+1
    return count

In [326]:
# Check
count_primes(100)

25

### Just for fun:
#### PRINT BIG: Write a function that takes in a single letter, and returns a 5x5 representation of that letter
    print_big('a')
    
    out:   *  
          * *
         *****
         *   *
         *   *
HINT: Consider making a dictionary of possible patterns, and mapping the alphabet to specific 5-line combinations of patterns. <br>For purposes of this exercise, it's ok if your dictionary stops at "E".

In [10]:
def print_big(letter):
    lst = list(letter)
    for i in lst:
        print(options[i], end = "")
options = {
   'a': '  *  \n * * \n*****\n*   *\n*   *', 
   'b': '**** \n*   *\n*****\n*   *\n**** ',
   'c': ' ****\n*    \n*    \n*    \n ****',
   'd': '**** \n*   *\n*   *\n*   *\n**** ',
   'e': '*****\n*    \n*****\n*    \n*****',
   'f': '*****\n*    \n*****\n*    \n*    ',
   'g': '*****\n*    \n* ***\n*   *\n*****',
   'h': '*   *\n*   *\n*****\n*   *\n*   *',
   'i': '*****\n  *  \n  *  \n  *  \n*****',
   'j': '***  \n  *  \n  *  \n  *  \n***  ',
   'k': '*   *\n* *  \n*    \n* *  \n*   *',
   'l': '*    \n*    \n*    \n*    \n*****',
   'm': '*   *\n** **\n* * *\n*   *\n*   *',
   'n': '*   *\n**  *\n* * *\n*  **\n*   *',
   'o': ' *** \n*   *\n*   *\n*   *\n *** ',
   'p': '**** \n*   *\n**** \n*    \n*    ',
   'q': ' *** \n*   *\n* * *\n*  * \n ** *',
   'r': '**** \n*   *\n**** \n* *  \n*  **',
   's': ' ****\n*    \n *** \n    *\n**** ',
   't': '*****\n  *  \n  *  \n  *  \n  *  ',
   'u': '*   *\n*   *\n*   *\n*   *\n *** ',
   'v': '*   *\n*   *\n * * \n * * \n  *  ',
   'w': '*   *\n*   *\n* * *\n* * *\n * * ',
   'x': '*   *\n * * \n  *  \n * * \n*   *',
   'y': '*   *\n * * \n  *  \n  *  \n  *  ',
   'z': '*****\n   * \n  *  \n *   \n*****',
   ',': '     \n     \n   **\n   **\n  *  ',
   ':': '     \n  *  \n     \n  *  \n     '

   }

In [13]:
print_big("i")

*****
  *
  *
  *
*****

## Great Job!

In [329]:
def sq(n):
    return n**2

In [330]:
m=[1,2,3,4,5]

In [331]:
for i in map(sq,m):
    print(i,end=" ")

1 4 9 16 25

In [332]:
list(map(sq,m))

[1, 4, 9, 16, 25]

In [333]:
def sp(m):
    if(len(m)%2==0):
        return "EVEN"
    else:
        return m[0]

In [334]:
nn=['ab','b','c']

In [335]:
list(map(sp,nn))

['EVEN', 'b', 'c']

In [336]:
def ce(n):
    return n%2==0

In [337]:
m=[1,2,3,4,5,6]

In [338]:
list(filter(ce,m))

[2, 4, 6]

In [339]:
for n in filter(ce,m):
    print(n,end=" ")

2 4 6

## Converting of General Functions to Lambda without return

In [340]:
def square(n):return n**2

In [341]:
square(3)

9

In [342]:
square = lambda n:n**2

In [343]:
square(3)

9

In [344]:
list(map(lambda n:n**2,m))

[1, 4, 9, 16, 25, 36]

In [345]:
list(map(lambda j:j[0],nn))

['a', 'b', 'c']

In [346]:
list(map(lambda j:j[::-1],nn))

['ba', 'b', 'c']

In [347]:
xx=25
def p():
    xx=50
    return xx

In [348]:
print(xx)

25

In [349]:
p()

50

In [350]:
print(p())

50

In [351]:
xxx=50
def f():
    global xxx
    print("X is ",xxx)
    
    xxx="NEW"
    print("The value of new one is",xxx)

In [352]:
print(xxx)

50

In [353]:
f()

X is  50
The value of new one is NEW

# Functions and Methods Homework 

Complete the following questions:
____
**Write a function that computes the volume of a sphere given its radius.**
<p>The volume of a sphere is given as $$\frac{4}{3} πr^3$$</p>

In [354]:
def vol(rad):
    return ((4/3)*(3.14)*((rad)**3))

In [355]:
# Check
vol(2)

33.49333333333333

___
**Write a function that checks whether a number is in a given range (inclusive of high and low)**

In [356]:
def ran_check(num,low,high):
    if(num>low and num<high):
        print("{} is in the range between {} and {} ".format(num,low,high))

In [357]:
# Check
ran_check(5,2,7)

5 is in the range between 2 and 7

If you only wanted to return a boolean:

In [358]:
def ran_bool(num,low,high):
    return (num>low and num<high)

In [359]:
ran_bool(3,1,10)

True

____
**Write a Python function that accepts a string and calculates the number of upper case letters and lower case letters.**

    Sample String : 'Hello Mr. Rogers, how are you this fine Tuesday?'
    Expected Output : 
    No. of Upper case characters : 4
    No. of Lower case Characters : 33

HINT: Two string methods that might prove useful: **.isupper()** and **.islower()**

If you feel ambitious, explore the Collections module to solve this problem!

In [360]:
def up_low(s):
    c,d=0,0
    print("Original String : {}".format(s))
    for i in range(len(s)):
        if(s[i].isupper()):
            c+=1
        elif(s[i].islower()):
            d+=1
    print("No, of Upper case characters : {}".format(c))
    print("No, of Lower case characters : {}".format(d))

In [361]:
s = 'Hello Mr. Rogers, how are you this fine Tuesday?'
up_low(s)

Original String : Hello Mr. Rogers, how are you this fine Tuesday?
No, of Upper case characters : 4
No, of Lower case characters : 33

____
**Write a Python function that takes a list and returns a new list with unique elements of the first list.**

    Sample List : [1,1,1,1,2,2,3,3,3,3,4,5]
    Unique List : [1, 2, 3, 4, 5]

In [362]:
def unique_list(lst):
    l=list(set(lst))
    print(l)

In [363]:
unique_list([1,1,1,1,2,2,3,3,3,3,4,5])

[1, 2, 3, 4, 5]

____
**Write a Python function to multiply all the numbers in a list.**

    Sample List : [1, 2, 3, -4]
    Expected Output : -24

In [364]:
def multiply(numbers):
    c=1
    for i in range(len(numbers)):
        c*=numbers[i]
    return c

In [365]:
multiply([1,2,3,-4])

-24

____
**Write a Python function that checks whether a passed in string is palindrome or not.**

Note: A palindrome is word, phrase, or sequence that reads the same backward as forward, e.g., madam or nurses run.

In [366]:
def palindrome(s):
    c=""
    c+=s[::-1]
    return(s == c)

In [367]:
palindrome('helleh')

True

____
#### Hard:

**Write a Python function to check whether a string is pangram or not.**

    Note : Pangrams are words or sentences containing every letter of the alphabet at least once.
    For example : "The quick brown fox jumps over the lazy dog"

Hint: Look at the string module

In [368]:
import string

def ispangram(str1, alphabet=string.ascii_lowercase):
    for i in alphabet:
        if i not in str1:
            return False
    return True

In [369]:
ispangram("The quick brown fox jumps over the lazy dog")

True

In [370]:
import string

def ispangram(str1, alphabet=string.ascii_lowercase):
    l=[]
    for i in str1.lower():
        l.append(i)
    ll=set(l)
    ll.remove(' ')
    return(len(ll)==len(alphabet))

In [371]:
ispangram("The quick brown fox jumps over the lazy dog")

True

In [372]:
string.ascii_lowercase

'abcdefghijklmnopqrstuvwxyz'

#### Great Job!

In [373]:
try:
    r=10+10
except:
    print("It's Wrong")
print(r)

20

In [374]:
try:
    r=10+'10'
except:
    print("It's Wrong")

It's Wrong

In [375]:
 try:
    r=10+10
except:
    print("It's Wrong")
else:
    print("Add went well.!")
    print(r)

Add went well.!
20

In [376]:
try:
    f=open('testfile','w')
    f.write("Hello, today is the best day to you.!!")
except TypeError: 
    print("Not")
except OSError:
    print('Hey you\'ve have an OS Error')
finally:
    print("I always run")

I always run

In [377]:
try:
    f=open('testfile','r')
    f.write("Hello, today is the best day to you.!!")
except TypeError: 
    print("Not")
except OSError:
    print('Hey you\'ve have an OS Error')
finally:
    print("I always run")

Hey you've have an OS Error
I always run

In [378]:
try:
    f=open('testfile','r')
    f.write("Hello, today is the best day to you.!!")
except TypeError: 
    print("Not")
except:
    print('All other Exceptions')
finally:
    print("I always run")

All other Exceptions
I always run

In [379]:
try:
    f=open('testfile','r')
    f.write("Hello, today is the best day to you.!!")
except:
    print('All other Exceptions')
finally:
    print("I always run")

All other Exceptions
I always run

In [1]:
def aski():
    try:
        r=(int(input()))
    except:
        print("Not a Number")
    finally:
        print("End of try/except/finally")
aski()

 tyi

Not a Number
End of try/except/finally

In [2]:
def aski():
    c,d=0,0
    while(True):
        try:
            r=(int(input()))
        except:
            print("Not a Number")
            print("I'm going to ask you again.!!\n")
            c=c+1
            continue
        else:
            print("Thank you for giving your suitable input.!!")
            c=0
            break
            print("Smita")
        finally:
            if(c==0):
                print("Finally you have done")
            elif(c>2 and c<=3):
                print("please try again.!! No more chances. Only two chances are left.!!\n")
            elif(c>3 and c<=4):
                print("Only one chance is left to you. Be Careful.\n")
            elif(c>4):
                print("Your attempts are wasted till now.!!\nWait for 2~3 days\n\n")
                break
            else:
                print("-----------------------\n\n")
aski()

 asdf

Not a Number
I'm going to ask you again.!!

-----------------------

 sdaf

Not a Number
I'm going to ask you again.!!

-----------------------

 asdf

Not a Number
I'm going to ask you again.!!

please try again.!! No more chances. Only two chances are left.!!

 asdf

Not a Number
I'm going to ask you again.!!

Only one chance is left to you. Be Careful.

 5

Thank you for giving your suitable input.!!
Finally you have done

# Errors and Exceptions Homework

### Problem 1
Handle the exception thrown by the code below by using <code>try</code> and <code>except</code> blocks.

In [3]:
try:
    for i in ['a','b','c']:
        print(i**2)
except TypeError:
    print("TypeError")

TypeError

### Problem 2
Handle the exception thrown by the code below by using <code>try</code> and <code>except</code> blocks. Then use a <code>finally</code> block to print 'All Done.'

In [5]:
try:
    x=(int(input()))
    y=0
    z=x/y
except ZeroDivisionError:
    print('ZeroDivisionError')
finally:
    print('All Done')

 4

ZeroDivisionError
All Done

### Problem 3
Write a function that asks for an integer and prints the square of it. Use a <code>while</code> loop with a <code>try</code>, <code>except</code>, <code>else</code> block to account for incorrect inputs.

In [6]:
def ask():
    while(True):
        try:
            s=int(input("Input and integer: "))
        except:
            print("An error occurred! Please try again!")
            continue
        else:
            print("Thank you, your number squared is:  {}".format(s**2))
            break

In [7]:
ask()

Input and integer:  dsg

An error occurred! Please try again!

Input and integer:  2

Thank you, your number squared is:  4

# Great Job!

In [8]:
def hello():
    return "Hello"

In [9]:
hello()

'Hello'

In [10]:
g=hello

In [11]:
g()

'Hello'

In [12]:
del hello

In [13]:
hello()

NameError: name 'hello' is not defined

In [14]:
g()

'Hello'

In [15]:
def hello(n='Jos'):
    print("func has been executed")
    
    def greet():
        return "\tThis is func in hello()"
    def welcome():
        print("\tThis is also in hello()")
    if(n=='Jos'):
        print(greet())
    else:
        welcome()
    print("End of hello()")

In [16]:
hello()

func has been executed
	This is func in hello()
End of hello()

In [17]:
def cool():
    def sc():
        return "Cool"
    return sc

In [18]:
s=cool()

In [19]:
s

In [20]:
s()

'Cool'

In [21]:
def hello():
    return "Hi Jose.!"
def other(s):
    print("Hellooooo")
    print(s())

In [22]:
other(hello)

Hellooooo
Hi Jose.!

In [23]:
def new_decorator(or_f):
    def wrap_func():
        print("Some extra code, before orig func")
        or_f()
        print("Some extra code, before orig func")
    return wrap_func()

In [24]:
def fun_needs_decorator():
    print("I want to be decorated!!")

In [25]:
fun_needs_decorator()

I want to be decorated!!

In [26]:
df=new_decorator(fun_needs_decorator)

Some extra code, before orig func
I want to be decorated!!
Some extra code, before orig func

In [27]:
df

In [28]:
@new_decorator
def fun_needs_decorator():
    print("I want to be decorated!!")

Some extra code, before orig func
I want to be decorated!!
Some extra code, before orig func

In [29]:
def create_cubes(n):
    for i in range(n):
        yield i**3

In [30]:
list(create_cubes(10))

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

In [31]:
def im(n):
    for i in range(n):
        yield i

In [32]:
list(im(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [33]:
def sg():
    for x in range(3):
        yield x

In [34]:
for n in sg():
    print(n)

0
1
2

In [35]:
gg=sg()

In [36]:
print(next(gg))

0

In [37]:
print(next(gg))

1

In [38]:
print(next(gg))

2

In [39]:
print(next(gg))

StopIteration:

In [40]:
s='hello'

In [41]:
for l in s:
    print(l,end=' ')

h e l l o

In [42]:
next(s)

TypeError: 'str' object is not an iterator

In [43]:
s_iter=iter(s)

In [44]:
next(s_iter)

'h'

In [45]:
next(s_iter)

'e'

In [46]:
next(s_iter)

'l'

In [47]:
next(s_iter)

'l'

In [48]:
next(s_iter)

'o'

In [49]:
next(s_iter)

StopIteration:

# Iterators and Generators Homework 

### Problem 1

Create a generator that generates the squares of numbers up to some number N.

In [50]:
def gensquares(N):
    for i in range(N):
        yield i**2

In [51]:
for x in gensquares(10):
    print(x)

0
1
4
9
16
25
36
49
64
81

### Problem 2

Create a generator that yields "n" random numbers between a low and high number (that are inputs). <br>Note: Use the random library. For example:

In [52]:
import random

random.randint(1,10)

10

In [53]:
def rand_num(low,high,n):
    for i in range(n):
        yield random.randint(low, high)

In [54]:
for num in rand_num(1,10,12):
    print(num)

4
5
6
6
5
7
3
2
5
4
5
1

### Problem 3

Use the iter() function to convert the string below into an iterator:

In [55]:
s = 'hello'

#code here
a=iter(s)

In [56]:
print((next(a)))

h

In [57]:
print((next(a)))

e

In [58]:
print((next(a)))

l

In [59]:
print((next(a)))

l

In [60]:
print((next(a)))

o

In [61]:
print((next(a)))

StopIteration:

### Problem 4
Explain a use case for a generator using a yield statement where you would not want to use a normal function with a return statement.<br><br><br><br><br><br>

### Extra Credit!
Can you explain what *gencomp* is in the code below? (Note: We never covered this in lecture! You will have to do some Googling/Stack Overflowing!)

In [62]:
my_list = [1,2,3,4,5]

gencomp = (item for item in my_list if item > 3)

for item in gencomp:
    print(item)

4
5

Hint: Google *generator comprehension*!

# Great Job!